{% extends "base.html" %}
{% block title %}Electronic shop{% endblock %}
{% block container %}
    {% include "includes/style_for_homepage.html" %}

    <h1 style="width: 97%; height: 70px; color: saddlebrown; position: relative; left: 11%">{{ object.name }}</h1>
    <img src="{{ object.image2 }}"
         height="400px" width="600px" alt="picture" align="left">
    <p style="font-size: 24px; width: 85%; color: saddlebrown; position: relative; left: 10%">{{ object.description }}</p>
    {% if object.amount > 0 %}
        <p style="margin-top:50px; width: 85%; font-size: 24px; height: 30px; color: black; position: relative; left: 10%; ">
            {{ object.amount }} units available</p>
        <form style="position: fixed; left: 51%" action="/basket" target="_self">
            <button class="b_color">Buy device</button>
        </form>
    {% else %}
        <p style="margin-top:50px; width: 85%; font-size: 24px; color: red; position: relative; left: 10%">
            The product is out of stock</p>
    {% endif %}
{% endblock %}