<style>

    * {
        margin: 0;
        padding: 0;
    }

    .pass-photo {
        padding: 33px;
        background: none;
        border: none;
        display: inline-block;
        margin: 35px;
    }

    .b_color_2 {
        background: #333333;
        color: antiquewhite;
        width: 200px;
        border-radius: 10px;
        height: 30px;

    }

    .b_color_2:hover {
        background-color: #993333;
    }

    .pass-photo img {
        border: 3px;
    }

    .b_color {
        background: #333333;
        color: antiquewhite;
        width: 200px;
        border-radius: 10px;
        height: 30px;
    }

    .b_color:hover {
        background-color: darkgray;
    }
</style>