<style>

    * {
        margin: 0;
        padding: 0;
    }

    .pass-photo {
        padding: 30px;
        background: none;
        border: none;
        display: inline-block;
        margin: 1%;
    }

    .btn-group button {
        background-color: darkgray;
        border: 1px green;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        float: left;
    }

    .btn-group button:hover {
        background-color: #D3D3D3;
    }

    .pass-photo img {
        border: 3px;
    }

    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    .b_color {
        background: #333333;
        color: antiquewhite;
        width: 200px;
        border-radius: 10px;
        height: 30px;
    }

    .b_color:hover {
        background-color: darkgray;
    }

    .b_color_2:hover {
        background-color: indianred;
    }

    .b_color_2 {
        background: #333333;
        color: antiquewhite;
        width: 200px;
        border-radius: 10px;
        height: 30px;
    }

    .b_color_3 {
        background: #333333;
        color: antiquewhite;
        width: 200px;
        border-radius: 10px;
        height: 30px;

    }.b_color_3:hover {
        background-color: darkseagreen;
    }
</style>

<div class="btn-group" style="width:100%">
    <form action="http://127.0.0.1:8000/homepage" target="_self">
        <button style="width:25%">All devices</button>
    </form>
    <form action="{% url 'category' number=1 %}" target="_self">
        <button style="width:25%">Laptops</button>
    </form>
    <form action="{% url 'category' number=2 %}" target="_self">
        <button style="width:25%">Cameras</button>
    </form>
    <form action="{% url 'category' number=3 %}" target="_self">
        <button style="width:25%">TVs</button>
    </form>
</div>