<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Electronic shop{% endblock %}</title>
    {% include 'includes/style_for_base.html' %}
</head>
<body>
<div class="first_btn-group" style="width: 100%">
    <form action="http://127.0.0.1:8000/homepage" target="_self">
        <button style="width: 100%">Electronic shop</button>
    </form>
</div>
<div class="btn-group" style="width:100%">
    <form action="http://127.0.0.1:8000/basket" target="_self">
        <button style="width:50%">Basket</button>
    </form>
    <form action="http://127.0.0.1:8000/client_page/0001" target="_self">
        <button style="width:50%">Artur Tiurin</button>
    </form>
</div>
<div class="container ">
    {% block container %}{% endblock %}
</div>
</body>
</html>