{% extends "base.html" %}
{% block title %}Personal Area{% endblock %}
{% block container %}

    <h1 style="width: 97%; height: 70px; color: #272727; position: relative; left: 10%">Your profile</h1>
    <img src="{{ image }}"
         height="400px" width="400px" alt="picture" align="left">
    <h1 style="width: 85%; height: 60px; color: #272727; position: relative; left: 10%">Name: {{ name }}</h1>
    <h1 style="width: 85%; height: 60px; color: #272727; position: relative; left: 10%">Mail: {{ mail }}</h1>
    <h1 style="width: 85%; height: 60px; color: #272727; position: relative; left: 10%">Discount card: {{ discount_card }}</h1>
    <h1 style="width: 85%; height: 60px; color: #272727; position: relative; left: 10%">Age: {{ age }}</h1>
    <h1 style="width: 85%; height: 60px; color: #272727; position: relative; left: 10%">City: {{ city }}</h1>
{% endblock %}
