{% extends "base.html" %}
{% block title %}Electronic shop{% endblock %}

{% block container %}
    {% include 'includes/style_for_homepage.html' %}


    {% for item in object_list %}
        <figure class="pass-photo">
            <img src="{{ item.image }}"
                 width="200" height="200" alt="photo"
                 class="pass-photo">
                <form action="{% url 'product' slug=item.slug num=item.pk %}" target="_self">
            <div style="text-align: center;">
                    <button class="b_color">{{ item.name}}</button>
            </div>
            </form>
        </figure>
    {% endfor %}

{% endblock %}
